body, html {
    margin: 0;
    padding: 0;
  }

  #fs {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #bkg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('skater pingu.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
  }

  #title-container {
    position: absolute;
    top: 25%;
    width: 100%;
    
    background-color: #111;
  }

  #ttext-container {
    width: 30%;
    margin: auto;
  }

  #ttext {
    font: 2.5em "Lato", sans-serif;
    text-align: center;
    color: #fff;
  }

    #ss {
      position: absolute;
      top: 100%;
      width: 100%;
      height: 50%;
      background-color: #111;
    }

    #desc-container {
      width: 60%;
      margin: auto;
    }

    #desc-title {
      font: 2.5em "Lato", sans-serif;
      color: #fff;
      text-align: center;
    }

    #desc-text {
      font: 1.5em "Lato", sans-serif;
      color: #fff;
      text-align: justify;
    }

	#ts {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 150%;
	}

	#tsbkg {
		background-image: url('comrade-pingu.jfif');
		background-position: center;
		width: 100%;
		height: 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 100%;
	}

	#ts-bar {
		position: absolute;
		background-color: #111;
		width: 100%;
		height: 15%;
		top: 65%;

	}

	#join-now {
		font: 2em "Lato", sans-serif;
		color: #fff;
		text-align: center;
	}

#footer {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 250%;
  background-color: #111;
}

#footer-title {
  font: 2.5em "Lato", sans-serif;
  color: #fff;
  text-align: center;
}

#email-cnt {
  width: 5%;
  margin: auto;
}

a {
  font: 1.5em "Lato", sans-serif;
  padding-top: 2.7em;
  color: #fff;
  text-align: center;
}

#disclaimer {
  font: 10px "Lato", sans-serif;
  text-align: center;
  top: 290%;
  color: #fff;
}
